.blogPost-container {
  max-width: 730px;
  font-family: 'Open Sans', sans-serif;
  color: #666;
  font-size: 100%;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 300;
}

h1 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-top: 32px;
  margin-bottom: 32px;
}

h2 {
  margin-bottom: 16px;
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
}

h4 {
  color: #555;
  font-weight: 600;
  margin-bottom: 32px;
}

p {
  margin-bottom: 32px;
}

a {
  color: #FF922E;
}

a:hover {
  text-decoration: underline;
}
