.header-container {
  font-family: 'Eczar', serif;
  font-style: normal;
  margin: 0 auto;
  max-width: 730px;
  padding: 1.45rem 1.0875rem;
  margin-bottom: 48px;
}

.header-title {
  font-weight: 600;
  line-height: 42px;
  font-size: 42px;
  color: #FEC71C;
}

.header-title--container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  height: 70px;
  margin: 0;
  margin-right: -5px;
}

.header-subtitle {
  font-weight: normal;
  line-height: 22px;
  font-size: 18px;
  color: #999999;
  max-width: 120px;
  margin-left: 27%;
}

